<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>


    <servlet>
        <servlet-name>springMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/springmvc-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>



    <!--字符编码过滤-->
    <filter>
        <filter-name>CharEncodingFilter</filter-name>
        <filter-class>com.jee.ssh.filter.CharEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--<servlet>-->
        <!--<servlet-name>HelloServlet</servlet-name>-->
        <!--<servlet-class>com.jee.test.servlet.HelloServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>HelloServlet</servlet-name>-->
        <!--<url-pattern>/hello</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>UserServlet</servlet-name>-->
        <!--<servlet-class>com.jee.test.servlet.UserServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>UserServlet</servlet-name>-->
        <!--<url-pattern>/user</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>RegServlet</servlet-name>-->
        <!--<servlet-class>com.jee.test.servlet.RegServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>RegServlet</servlet-name>-->
        <!--<url-pattern>/reg</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
        <!--<servlet-name>ScopeServlet</servlet-name>-->
        <!--<servlet-class>com.jee.test.servlet.ScopeServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>username</param-name>-->
            <!--<param-value>zhang</param-value>-->
        <!--</init-param>-->
        <!--&lt;!&ndash;<load-on-startup>1</load-on-startup>&ndash;&gt;-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>ScopeServlet</servlet-name>-->
        <!--<url-pattern>/scope</url-pattern>-->
    <!--</servlet-mapping>-->



    <!--<filter>-->
        <!--<filter-name>CharEncodingFilter</filter-name>-->
        <!--<filter-class>com.jee.shop.filter.CharEncodingFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>encoding</param-name>-->
            <!--<param-value>UTF-8</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>CharEncodingFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
        <!--<filter-name>AdminCheckFilter</filter-name>-->
        <!--<filter-class>com.jee.shop.filter.AdminCheckFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>AdminCheckFilter</filter-name>-->
        <!--<url-pattern>/shop/admin/*</url-pattern>-->
    <!--</filter-mapping>-->
</web-app>